<html>
    <head>
        
        <%- include('../component/head',{data:{title:'Product Add'}})%>
        
    </head>
    <body>
        <%- include('../component/menu')%>
        <div class="container">
            <div class="offset-sm-3 col-6">
                <form action="/product/create" method="post">
                    <div class="mb-3">
                    <label class="form-label">Name</label>
                    name:<input type="text" name="productname" class="form-control" placeholder="Please enter your name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">description</label>
                    description:<input type="text" name="description" class="form-control" placeholder="description" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">price</label>
                    price:<input type="number" name="price" class="form-control" placeholder="price" required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add">
                </form>
            </div>
            
        </div>
        <%- include("../component/footer")%>
        
    </body>
</html>